.main-navigation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: $site-max-width;
  padding: 3rem;
  margin: 0 auto;

  font-family: system-ui;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__logo {
    z-index: 1000;
  }

  &__svg {
    display: block;
    width: 149px;
    fill-rule: evenodd;
    fill: white;
  }

  &__toggle-btn {
    display: none;
  }

  &__desktop {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    list-style: none;

    position: relative;
  }

  &__dropdown-bg {
    pointer-events: none;
    // inset: 0;

    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 16px;
    padding: 24px 32px;

    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);

    height: 289px;
    width: 600px;
    border-radius: 20px;

    opacity: 0;
    transform-origin: top;
    transition: all 0.2s ease-in-out;
  }

  &:has(
      .main-navigation__dropdown-button--desktop-dropdown[aria-expanded="true"]
    )
    .main-navigation__dropdown-bg {
    opacity: 1;
  }

  &__dropdown {
    // display: block;
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 16px;

    width: 600px;
    border-radius: 20px;

    &[data-visible="false"] {
      display: none;
    }

    &--main {
      display: flex;
      flex-flow: column nowrap;
      gap: 32px;

      padding: 24px 32px;
      background-color: transparent;
    }

    &--submenu {
      span {
        display: inline-block;
        text-transform: uppercase;
        color: rgba(255, 255, 255, 0.8);
        font-size: 0.75rem;
        margin-bottom: 1rem;
      }

      ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;

        list-style: none;

        a {
          text-decoration: none;
          font-size: 0.825rem;
          color: rgba(255, 255, 255, 0.8);

          &:hover,
          &:hover > * {
            color: #0c7cff;
          }

          p {
            font-size: 0.75rem;
            color: rgba(255, 255, 255, 0.3);
          }
        }
      }
    }
  }

  &__item,
  &__item-dropdown {
    &:last-child .main-navigation__link {
      color: #0c7cff;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
    cursor: pointer;

    &:hover,
    &:hover .main-navigation__dropdown-svg {
      color: #fff;
      fill: #fff;
    }
  }

  &__dropdown-button {
    border: none;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-family: inherit;
    position: relative;

    &--desktop-dropdown {
      &::after {
        content: "";
        position: absolute;
        opacity: 0;
        bottom: -1rem;
        left: 30px;
        margin-left: -8px;
        margin-top: -8px;
        border-bottom: solid 8px rgba(0, 0, 0, 0.6);
        border-left: solid 8px transparent;
        border-right: solid 8px transparent;
        transition: opacity 0.2s ease-in-out;
      }

      &[aria-expanded="true"] {
        &::after {
          opacity: 1;
        }
      }
    }
  }

  &__dropdown-svg {
    width: 0.5rem;
    margin-top: 4px;
    fill: rgba(255, 255, 255, 0.8);
    transform: rotate(90deg) rotateY(0deg);
    transition: transform 0.2s ease-out;
  }

  &__mobile {
    display: none;
  }

  @media (max-width: 45em) {
    padding: 2rem;
    align-items: flex-start;
    background-color: transparent;

    flex-direction: column;

    overflow-y: auto;

    &:has(.main-navigation__mobile[data-visible="true"]) {
      height: 100vh;
      background-color: rgba(26, 26, 26, 0.95);
      backdrop-filter: blur(20px);
    }

    &__nav {
      flex: 1 1 100%;
      width: 100%;
      display: none;

      // animation: slide-down 0.3s ease-out, fade-in 0.3s ease-out;

      &:has(.main-navigation__mobile[data-visible="true"]) {
        display: block;
      }
    }

    &__toggle-btn {
      margin-right: 0.5rem;
      order: 1;

      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;

      z-index: 9999;
      height: 18px;
      width: 24px;
      border: none;

      background-color: transparent;

      &[aria-expanded="true"] .main-navigation__bar {
        &--bar1 {
          transform-origin: right top;
          transform: rotate(-45deg);
        }

        &--bar2 {
          transform: translateX(1rem);
          opacity: 0;
        }

        &--bar3 {
          transform-origin: right bottom;
          transform: rotate(45deg);
        }
      }
    }

    &__bar {
      display: block;
      background-color: white;
      width: 100%;
      height: 2px;
      border-radius: 5px;

      &--bar1 {
        transition: all 0.1s ease-out;
      }

      &--bar2 {
        transform: translateX(0.5rem);
        transition: all 0.1s ease-out;
      }

      &--bar3 {
        transition: all 0.1s ease-out;
      }
    }

    &__desktop {
      display: none;
    }

    &__mobile {
      list-style: none;

      padding: 1.5rem 0 4.5rem 0;
      width: 100%;

      display: flex;
      flex-flow: column nowrap;
      gap: 1rem;
    }

    &__link {
      text-decoration: none;
      font-size: 1.5rem;
      color: #a8a8a8;
      font-weight: 400;
    }

    &__dropdown-button {
      // border: none;
      // background-color: transparent;
      // display: flex;
      // align-items: center;
      // gap: 10px;
      text-align: left;
      white-space: nowrap;

      // &:hover {
      //     color: #fff;
      // }

      &[aria-expanded="true"] .main-navigation__dropdown-svg {
        transform: rotate(90deg) rotateY(180deg);
      }
    }

    &__dropdown-svg {
      opacity: 0.6;
      width: 0.725rem;
      fill: #a8a8a8;
      // transform: rotate(90deg) rotateY(0deg);
      // transition: transform .2s ease-out;
    }

    &__navdropdown {
      display: none;

      &[data-visible="true"] {
        display: block;
      }

      & ul {
        list-style: none;
        display: flex;
        flex-flow: row wrap;
        margin: 8px 0 16px 0;

        & li {
          flex: 0 0 45%;
          margin: 5px 5px 5px 0;
          color: #a8a8a8;
          white-space: nowrap;
        }
      }
    }
  }
}
